/* Custom fonts and other imports go first */
@import url('link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet');

/* CSS variables */
:root {
  --black: #020618;
  --white: #edeff8;
  --footer-color: #949DD4;
  --off-white: #3E4CA5;
  --primary-color: #6668c9;
  --primary-color-dark: #5462BA;
  --primary-color-light: #2A3891;
  --primary-color-bright: #0c1659;

  --headline-color: var(--primary-color):
}

/* Box Model Reset: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}


/* Your styles go below */
/* Default styles apply to screens less tn 600px wide */

.topbar {
    grid-area: topbar;
    background-color: var(--white);
    color: var(--primary-color-bright);
    background-size: 330px;
    padding-left: 25px;
    transform: scaleY(70%);
    padding-right: 30px;

    background-image: url(../Icons/lunulalogo-spring.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -0.1em;

    h1 {
        font-size: 3vw;
        padding-left: 2%;
        margin: 0;
    }
}

   .footer{
    grid-area: footer;
     list-style: none;
     font-size: 30px;
    background-color: var(--primary-color-light);
    background-image: url(../Icons/pots.png), linear-gradient(to bottom, #5863a8, var(--primary-color-bright));
    background-repeat: no-repeat;
    width: 100%;
    color: var(--white);
    margin-top: 3%;
    
    
    }

body{
    background-image: url(../Icons/gridbackground.png);
    background-size: 100% 100%;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "topbar topbar"
        "tools drawing"
        "sidemenu carousel"
        "footer footer";
    grid-template-columns: 210px 1fr;
    font-family: normal;

    @media (width >= 1300px) {
        grid-template-areas:
            "topbar topbar topbar topbar"
            "tools drawing carousel sidemenu"
            "footer footer footer footer";

        grid-template-columns: 210px 1fr 1fr 210px;
    }

}


.tools-board,
.drawing-board {
    cursor: url(../Icons/paintbrushicon.png), pointer;
}

.tools-board{
    grid-area: tools;
    width: 210px;
    background: var(--primary-color-dark);
    background-image: linear-gradient(to bottom, var(--primary-color-bright), #5863a8);
    border: 10px solid var(--black);
    border-image: url(../Icons/canvasbox1.png) 1% round;
    box-shadow: var(--primary-color-bright) 0px 4px 30px -12px inset, var(--primary-color-bright) 0px 12px 36px -18px inset;
}

.row .options{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 0px;
}
.row .options .option{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.option:is(:hover, .active) img{
    filter: invert(17%) sepia(600%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label){
    color: var(--primary-color-dark);
    cursor: pointer;
    padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
    color: var(--primary-color-bright);
}
.option #size-slider{
    position: relative;
     margin-top: -10px;
     accent-color: var(--white);
     border: 12px solid var(--black);
    border-image: url(../Icons/canvasbox.png) 1% round;
    
}

.colors .option {
    background-image: url(../Icons/button.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 1px;
    position: relative;
   
}
.colors .option:nth-child(1){
   background-color: #edeff8;
}
.colors .option:nth-child(2){
    background-color: #B9BFE3;
}
.colors .option:nth-child(3){
    background-color: #949DD4;
}
.colors .option:nth-child(4){
    background-color: #717DC6;
}
.colors .option:nth-child(5){
    background-color: #5462BA;
}
.colors .option:nth-child(6){
    background-color: #3E4CA5;
}
.colors .option:nth-child(7){
   background-color: #2A3891;
}
.colors .option:nth-child(8){
    background-color: #1B2982;
}
.colors .option:nth-child(9){
    background-color: #0C1659;
}
.colors .option:nth-child(10){
    background-color: #060c35;
}
.colors .option:nth-child(11){
    background-color: #020618;
}
.colors .option:nth-child(12){
    background-image: url(../Icons/rainbowbutton.png);
    background-color: rgb(133, 62, 62);
}
.colors .option.selected::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border: 3px solid #edeff8;
    transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
border-color: #111111;
}
.option #color-picker{
    opacity: 0;
    cursor: pointer;
}
.buttons {

    button {
        width: 70%;
        color: #fff;
        border: none;
        outline: none;
        padding: 10px 0;
        font-size: 0.9rem;
        background: none;
        margin-left: 30px;
        cursor: pointer;
    }

    .clear-canvas {
        color: var(--black);
        border: 1px solid var(--black);
        margin-bottom: 20px;

        &:hover{
            background-color: var(--off-white);
            border: 1px solid --black;
            transition: all 0.3s ease;
        }
    }
}

.sidemenu {
    grid-area: sidemenu;
   width: 210px;
    background: var(--primary-color-dark);
    background-image: linear-gradient(to bottom, var(--primary-color-bright), #5863a8);
    border: 10px solid var(--black);
    border-image: url(../Icons/canvasbox1.png) 1% round;
    box-shadow: var(--primary-color-bright) 0px 4px 30px -12px inset, var(--primary-color-bright) 0px 12px 36px -18px inset;
  

    .sidebuttons {

              width: 100%;
        
        padding: 10px 0;
        font-size: 0.9rem;
        background: none;
        margin-left: 30px;
        cursor: pointer;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
         margin: 0px;
    }

    }
    

    p {
        font-size: 2vw;
        color: var(--white);
        text-align: center;
        display: flex;
        justify-content: center;
    }

// .carousel {
//     grid-area: carousel;
//     background-color: var(--primary-color-dark);
//     background-image: url(../Icons/haresstampblue.png);
//     background-size: contain;
//     background-position: center center;
//     background-repeat: no-repeat;
//     box-shadow: var(--primary-color-bright) 0px 4px 30px -12px inset, var(--primary-color-bright) 0px 12px 36px -18px inset;
//     border: 10px solid var(--black);
//     border-image: url(../Icons/canvasbox2.png) 1% round;
//     color: var(--white);
//     font-size: 25px;
//     text-align: center;
// }
.carousel {
    grid-area: carousel;
    
    height:max-content;
    background-color: var(--primary-color-dark);
    background-image: url(../Icons/haresstampblue.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: var(--primary-color-bright) 0px 4px 30px -12px inset, var(--primary-color-bright) 0px 12px 36px -18px inset;
    border: 10px solid var(--black);
    border-image: url(../Icons/canvasbox2.png) 1% round;
    color: var(--white);
    font-size: 25px;
    text-align: center;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;


  // @Jack: Making the list of slides a grid with a single area so you can stack them all
  // into the same visual space. This is better than using position: absolute; because the
  // carousel area will automatically size itself to the largest of your slides. 
  // Less math this way, which I know will disappoint you, but it's easier. 
  display: grid;
  grid-template-areas: "carousel-display";
}

.slide {
    grid-area: carousel;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;

  // @Jack: Putting all slides in the same grid area to stack them on top of each other on the z-axis,
  // rather than stacking on top of each other on the y-axis.
  grid-area: carousel-display;
}

.slide > img {
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    // @Jack: Adding this maintains the image's original proportions while displaying it as large as
    // possible in the available container without cropping any of the image.
    object-fit: contain;
}

.slide[data-active] {
    grid-area: carousel;
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0 .5rem;
}


.carousel-button.prev {
  position: relative;
}

.carousel-button.next {
  position: relative;
}

//end .carousel info

.drawing-board{
    grid-area: drawing;
    flex: 1;
    position: relative;
     border: 10px solid var(--black);
    border-image: url(../Icons/canvasbox2.png) 1% round;
    background-image: linear-gradient(to bottom, var(--primary-color-bright), #5863a8);
    box-shadow: var(--black) 0px 4px 30px -12px inset, var(--black) 0px 12px 36px -18px inset;

    p {
        // Uses the minimum size of either 160px or 15% of the screen width minus 250px
        // We get the 250px from the width of the toolbar, .container padding, and body margin added together
        // Those values don't change as the screen resizes, so we want to match the size of the text inside of
        // our .drawing-board area which DOES flex with the screen size. 
        font-size: min(10vw, 160px);
        color:#02061800;
        transform: scaleY(80%);

        text-align: start;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: 0;
        text-align: center;
        margin: 0;
        line-height: 0.7;
        background-image: url(../Icons/lunulaart.png);
        background-size: contain;
        background-repeat: no-repeat;

        span {
            font-size: 0.3125em;
        } 

    } 

    canvas{
        height: 100%;
        width: 100%;
        

    }
}